@font-face {
  font-family: "font1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "pre";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "g";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
}

header {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "g";
  font-weight: 100;
  color: white;
  background-color: black;
}

.selection {
  display: flex;
  font-family: "g";
  font-size: 14px;
  justify-content: space-around;
  padding: 10px;
  background: linear-gradient(to right, white, gray);
  color: black;
}
.selection div {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.selection div:hover {
  transform: scale(1.4);
}

.insight {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-family: "pre";
}

.insight span {
  font-size: 30px;
}

.discription {
  margin-top: 10px;
  text-align: right;
  margin-right: 30px;
}
