@font-face {
  font-family: "py";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

nav {
  background-color: rgba(0, 0, 0, 0.17);
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(1.8px);
}

nav ul {
  text-align: center;
  display: flex;
  padding-right: 200px;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
}

nav ul li:first-child {
  margin-left: 50px;
  margin-right: 450px;
  font-size: 20px;
  font-family: "py";
}

nav ul li a {
  padding: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}
.start {
  height: 200px;
  background-color: black;
}

.main {
  width: 100%;
  font-size: 160px;
}
.empty {
  height: 200px;
  background-color: #ffdf46;
}
.korea span {
  padding-left: 40px;
}

.Population span {
  padding-left: 300px;
}

.Simulation {
  margin-bottom: 300px;
}
.Simulation span {
  padding-left: 600px;
}

.contents {
  padding-top: 300px;
  text-align: center;
  font-size: 40px;
}

.dd {
  background-color: #ffdf46;
  color: black;
  padding-top: 250px;
  text-align: center;
  font-size: 50px;
}

.ee {
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
  background-color: #ffdf46;
  color: black;
}
.emptyblue {
  height: 100px;
  background-color: black;
}

.bb {
  width: 100%;
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
  color: white;
  background-color: black;
  font-family: "py";
}

.container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--color-gray-5);
  height: 800px;
}

.content1 {
  padding: 40px;
  width: 40%;
  height: 250px;
  background-color: #111;
}
.content1:hover {
  background-color: #343a40;
}
.content1 h1 {
  text-align: center;
  font-size: 90px;
  margin: 0px;
  margin-bottom: 12px;
}

footer {
  text-align: center;
  color: gray;
  font-size: 12px;
}
